@import url('https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2');

* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

h1, h2, h4 {
    margin-bottom: 24px;;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style-type: none;
}

.purple {
    color: #6415ff;
  }

.white {
    color: white !important;
}

.gray {
    color: rgb(124, 139, 161);
}

  .container {   /*  I added all the properties that normally should be added to the row class  */ 
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;       /*this adds space between sections*/
    flex-wrap: wrap; 
  }

  .row {
    width: 50%;
  }

  .btn {
    margin: 8px;
    border-radius: 500px;
    width: 160px;
    height: 40px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.navigation__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__link--list {
 display: flex;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
    color:#6415ff;
}

.nav__link--anchor {
    color: #640461;
    font-weight: 600;
    font-size: 14px;
}

.nav__link:hover .nav__link--anchor {
    color: #6415ff;
  }

.nav__link--anchor-primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: rgb(80, 17, 204);
    color: #6415ff;
}

.navigation__logo {
    display: flex;
    align-items: center;
}

.navigation__logo--image {
    padding: 5px;
    width: 100%;
    max-width: 50px;
}

.logo__text {
    font-size: 24px;
    font-weight: bold;
}

/*  HAMBURGER MENU   */

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    display:none;
}

btn__menu:hover {
    color: #6415ff;
}

.menu__backdrop {
    position: absolute;  /*  other elements are not moved to different position, the elements of the resonsive menu is on top  */
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu--open .menu__backdrop {
    display: flex;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 16px 0;
}


/* HEADER */
#header {
    min-height: 100vh;   /*  if the header needs more space - adding min height will create this space  */
    width: 100vw;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 10px;
    flex-wrap: wrap;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    text-align: left;
}

.header__description--para {
    font-size: 18px;
    line-height: 1.25;
    margin: 32px 0;
    color: #1a202c;
    text-align: left;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transform: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

button {
    cursor: pointer;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: left;
}

.header__customers--img {
    margin-top: 26px;
    opacity: 0.5;
    width: 100%;
    max-width: 550px;
}

img {
    width: 100%;
}

.header__image--wrapper {
    max-width: 500px;
}

/* FEATURES */

#features {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.feature_icon {
    width: 170%;
    z-index: 1;
}

.feature {
    display: flex;    /* I removed jcsb - as it adds too much space between the paragraph text and the icon */
    align-items: flex-start;
    text-align: left;
    max-width: 350px;  /* instead of width: calc(100%/3); we want to use this as it allows wrapping function  */
    align-items: center;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    align-items: center;
    justify-content:center;
}

.section__title {
    text-align: center;
}

.section__tag {
    text-align: center;
}

.feature__title {
    text-align: left;
}

.feature__para {
    text-align: left;
    max-width: 250px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124, 139, 161);
}

.feature__description {
    margin-left: 10px;
}

.feature__img--wrapper {
    border: 1px solid #e5e7eb;
    padding: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
}

.section__para, .feature__para {
    margin-bottom: 32px;
}

.section__para {
    color: rgb(124, 139, 161);
}

.section__img--wrapper {
    width: 50%;
    height: 50%;
}

.row__narrow {
    margin: 30px 0;
}

/* QUALITY */

#quality {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.section__tag--row, .section__title--row, .section__para--row {
    text-align: left;
}

.section__para--row, .section__title--row {
    width: 80%;
}

.section__para--row {
    margin-bottom: 24px;
}

/* STEPS */

#steps {
    padding: 200px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.step {
    display: flex;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin: 0 20px;
}

.step__decription {
    margin: 20px 6px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    margin: 12px 10px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin: 12px 10px;
    font-weight: 500;
    line-height: 2;
}

.steps__list {
    width: 50%;
}

.steps__img {
}

/* VALUES */

#values {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.value__img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.value__title {
    display: flex;
}

.values__list {
    display: flex;
}

.value__para {
    font-size: 18px;
    line-height: 1.25;
    margin: 32px 0;
    color: rgb(124, 139, 161);
    text-align: left;
}


/* PRICING */


#pricing {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56,178,172));
    flex-wrap: wrap;
    flex-direction: column;
}

.plans__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__top, .plan__middle, .plan__bottom {
    padding: 32px;
    text-align: center;
    }

.plan__middle {   
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__customer {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__column {   /* this add a stripe on top of the column   */
    width: calc(90%/3);
}

.plan__personal {
    border-radius: 5px;
    border: 2px solid lightgray;
    border-top: 5px solid green;
}

.plan__business {
    border-radius: 5px;
    border: 2px solid rgb(76, 81, 191);
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__enterprise {
    border-radius: 5px;
    border: 2px solid lightgray;
    border-top: 5px solid rgb(245, 101, 101);
}

.plan__btn {
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 70%;
    font-weight: bold;
    letter-spacing: 0.05;
    line-height: 1.5;
    transition: all 300ms ease;
}

.plan__button--personal {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__button--business {
    color: #6415ff;
    background-color: white;
}

.plan__button--enterprise {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn:hover {
    transform: translate(1px, -1px);
}

/* TESTIMONIALS */

#testimonials {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.client__rating {
    margin-bottom: 8px;
    color: #fabf28;
    }

.testimonial__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__description {
    width: 50%;   /*  so that the section is equally divaded into two and image is of the right size   */
}

.testimonial__title {
    text-align: left;
}

.testimonial__para {
    margin: 16px 0 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* so the image changes into round  */
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.testimonial__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px;
    gap: 20px;
}



.testimonial__btn {
    padding: 12px; /* Adds spacing  */
    height: 50px; /* it will be 50px height */
    width: 50px; /* it will be 50px width */
    border: none;  /* no border */
    border-radius: 9999px; /* make the border circular */
    transition: all 300ms ease;
    color: #6415ff;
    font-weight: bold;
  }

.testimonial__btn:hover {
    background-color: rgb(226, 232, 240);
}

/* START */

#start {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.start__container {
    border-radius: 5px;
    border: none;
    background-color:  rgb(100, 21, 255);
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;       /*this adds space between sections*/
    flex-wrap: wrap;
      }

.start__row {
    display: flex;
}

.start__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    padding: 100px 20px;
}

.start__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start__btn {
    background-color: #f5656f;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    height: 60px;
}

.contact__btn {
    height: 60px;
    border: 1px solid white;
}

.start__btn:hover {
    background-color: rgb(229, 62, 62);
}

.contact__btn:hover {
    background-color: white;
    color: rgb(80, 17, 204);
}

/* FOOTER */

#footer {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

footer {
    background-color: rgb(100, 21, 255);
    color: white;
    }
    
.footer__row {
    width: 100%;   /*  It fills the spacing, the gap so I can achieve spaces between columns without margin auto zero */
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 20px;
}

.footer__columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0 24px 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--image {
    width: 100%;
    max-width: 50px;
    padding: 7px;
}

.footer__column--title {
    font-weight: 700;
    line-height: 1.5;
}

.footer__column--link {
    margin-top: 24px;
    transition: all 300ms;
}

.footer__column--link:hover {
    text-decoration: underline;
}

.social__link {
    border-radius: 50%; /* so the image changes into round  */
    border: none;
    margin-left: 16px;
    padding: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    margin-top: 15px;
    color: #d7dce4;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}




/* for smartphones, tablets */

@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

    .nav__link--list {
        display: none;
    }

    .btn__menu {
        display: flex;    /*   so the burger is displayed on smaller screens  */
    }
}