@import url('https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2');

* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

h1, h2, h4 {
    margin-bottom: 24px;;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style-type: none;
}

.purple {
    color: #6415ff;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;       /*this adds space between sections*/
  }

  .row {
    width: 50%;
  }

  .btn {
    margin: 8px;
    border-radius: 500px;
    width: 160px;
    height: 40px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.navigation__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__link--list {
 display: flex;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
    color:#6415ff;
}

.nav__link--anchor {
    color: #243e63;
    font-weight: 600;
    font-size: 14px;
}

.nav__link:hover .nav__link--anchor {
    color: #6415ff;
  }

.nav__link--anchor-primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #243e63;
    color: #243e63;
}

.navigation__logo {
    display: flex;
    align-items: center;
}

.navigation__logo--image {
    padding: 5px;
    width: 100%;
    max-width: 50px;
}

.logo__text {
    font-size: 24px;
    font-weight: bold;
}


/* HEADER */
#header {
    height: 100vh;
    width: 100vw;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    text-align: left;
}

.header__description--para {
    font-size: 18px;
    line-height: 1.25;
    margin: 32px 0;
    color: #1a202c;
    text-align: left;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transform: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

button {
    cursor: pointer;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: left;
}

.header__customers--img {
    margin-top: 26px;
    opacity: 0.5;
}

img {
    width: 100%;
}

/* FEATURES */

#features {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.feature_icon {
    width: 170%;
    z-index: 1;
}

.feature {
    display: flex;    /* I removed jcsb - as it adds to much space between the paragraph text and the icon */
    align-items: flex-start;
    text-align: left;
    width: calc(100%/3);
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.section__title {
    text-align: center;
}

.section__tag {
    text-align: center;
}

.feature__title {
    text-align: left;
}

.feature__para {
    text-align: left;
    max-width: 250px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124, 139, 161);
}

.feature__description {
    margin-left: 10px;
}

.feature__img--wrapper {
    border: 1px solid #e5e7eb;
    padding: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
}

.section__para, .feature__para {
    margin-bottom: 32px;
}

.section__img--wrapper {
    width: 50%;
    height: 50%;
}

.row__narrow {
    margin: 30px 0;
}

/* QUALITY */

#quality {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.section__tag--row, .section__title--row, .section__para--row {
    text-align: left;
}

.section__para--row, .section__title--row {
    width: 80%;
}

.section__para--row {
    margin-bottom: 24px;
}

/* STEPS */

#steps {
    padding: 200px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.step {
    display: flex;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin: 0 20px;
}

.step__decription {
    margin: 20px 6px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    margin: 12px 10px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin: 12px 10px;
    font-weight: 500;
    line-height: 2;
}

.steps {
    width: 50%;
}

.steps__img {
}

/* VALUES */

#values {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.value__img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.value__title {
    display: flex;
}

.values__list {
    display: flex;
}

.value__para {
    font-size: 18px;
    line-height: 1.25;
    margin: 32px 0;
    color: #1a202c;
    text-align: left;
}



/* PRICING */


#pricing {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56,178,172));
}

.plans__container {
    display: flex;
    justify-content: space-around;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__top, .plan__middle, .plan__bottom {
    padding: 32px;
    text-align: center;
    }

.plan__middle {   
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__customer {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__column {   /* this add a stripe on top of the column   */
    width: calc(90%/3);
}

.plan__personal {
    border-radius: 5px;
    border: 2px solid lightgray;
    border-top: 5px solid green;
}

.plan__business {
    border-radius: 5px;
    border: 2px solid rgb(76, 81, 191);
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__enterprise {
    border-radius: 5px;
    border: 2px solid lightgray;
    border-top: 5px solid rgb(245, 101, 101);
}

.plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 70%;
    font-weight: bold;
    letter-spacing: 0.05;
    line-height: 1.5;
    transition: all 300ms ease;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
}

/* TESTIMONIALS */

#testimonials {
    padding: 70px 0px;   /* instead of height: 100vh and width 100vw - as these may cause problems with responsiveness   */
    }